#nav{
    background-color: #B799FF;
    /* background-image: linear-gradient(to bottom right, #B799FF, #B799FF, white, white); */
  }
/* 
  B799FF */

  #dropdownMenuButton{
    background-color: #B799FF;
    border-color: #B799FF;
  }