<header class="dash-toolbar" id="nav">
    <!-- <div class="container"> -->
    <div class="col" style="background-color: #B799FF; height: 12px;"></div>
    <div class="row">
        <div class="col-4">
            <h4 style="color: white;">Gadar-2:the katha continues</h4>
            <p style="color: white;">PVR: Superplex Logix, Noida | Today, 12 Sep, 01:55 PM</p>
        </div>
        <div class="col-4"></div>
        <div class="col-4">
            <button type="button" class="btn btn-outline-light">Primary</button>
        </div>
    </div>
</header>
<div class="container-fluid" style="background-color: #efefef;">
    <div class="row">
        <div class="col-1"><button type="button" class="btn btn-outline-success">Primary</button></div>
        <div class="col-1"><button type="button" class="btn btn-outline-success">Primary</button></div>
        <div class="col-1"><button type="button" class="btn btn-outline-success">Primary</button></div>
        <div class="col-1"><button type="button" class="btn btn-outline-success">Primary</button></div>
        <div class="col-1"><button type="button" class="btn btn-outline-success">Primary</button></div>
        <div class="col-1"><button type="button" class="btn btn-outline-success">Primary</button></div>
        <div class="col-1"><button type="button" class="btn btn-outline-success">Primary</button></div>
        <div class="col-1"><button type="button" class="btn btn-outline-success">Primary</button></div>
    </div>
</div>